/* https://www.google.com/fonts#UsePlace:use/Collection:Lobster|Raleway:400,600|Inconsolata */
@media screen {
  html {
    font-size: 12px; } }

@media print {
  html {
    font-size: 12px; } }

@media only screen and (min-width: 665px) {
  html {
    font-size: 15px; } }

@media only screen and (min-width: 940px) {
  html {
    font-size: 18px; } }

html {
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.61803rem;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background: #f4f6f8;
  color: #333; }
  @media print {
    html {
      background: #ffffff;
      color: #000000; } }
html, body {
  margin: 0;
  padding: 0; }

body {
  padding: 0 1.61803rem;
  background: transparent; }

a {
  text-decoration: none;
  color: #960115;
  cursor: pointer; }

#everything {
  max-width: 66ch;
  margin: 0 auto; }

header {
  height: 6.47214rem;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default; }
  header h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    line-height: 4.8541rem;
    font-size: 3rem;
    margin: 0;
    margin-top: 0.5rem;
    float: left; }
  header p {
    margin: 0;
    margin-top: 2.42705rem;
    padding-top: 0.15rem;
    float: right;
    font-size: 2em;
    margin-left: 1.61803rem; }
  @media print {
    header {
      display: none; } }
#content {
  margin-top: -0.3rem; }
  #content.ng-enter {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    opacity: 0; }
    #content.ng-enter.ng-enter-active {
      opacity: 1; }
  #content.ng-leave {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    opacity: 1; }
    #content.ng-leave.ng-leave-active {
      opacity: 0; }
  #content p, #content h2, #content h3, #content li, #content ul, #content ol, #content dl, #content dt {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: inherit; }
  #content .article-masthead h2 {
    font-size: 3rem;
    line-height: 4.8541rem;
    text-align: center;
    margin: 0 1.61803rem;
    margin-top: 1.61803rem;
    font-weight: 600; }
    @media only screen and (max-width: 330px) {
      #content .article-masthead h2 {
        font-size: 2rem;
        line-height: 3.23607rem; } }
    #content .article-masthead h2 a {
      color: inherit; }
      #content .article-masthead h2 a:hover {
        text-decoration: none;
        color: #960115; }
  #content .article-masthead time, #content .article-masthead .article-subhed {
    text-align: center;
    margin-bottom: 3.33607rem;
    display: block;
    margin-top: 0.80902rem; }
  @media print {
    #content .article-masthead {
      margin-top: 3.23607rem;
      margin-bottom: 3.23607rem; } }
  #content .article-part-nav {
    margin-top: 3.33607rem;
    margin-bottom: 3.33607rem; }
  #content h3 {
    font-size: 2rem;
    line-height: 3.23607rem;
    margin-top: 3.23607rem;
    margin-bottom: 1.41803rem;
    padding-top: 0.2rem;
    font-weight: 600;
    page-break-after: avoid; }
  #content p {
    font-size: 1rem;
    line-height: 1.61803rem;
    margin-bottom: 1.61803rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    text-align: justify;
    widows: 3;
    orphans: 3; }
  #content li {
    margin-left: 1.61803rem; }
  #content ul, #content ol {
    margin-bottom: 1.61803rem; }
  #content code, #content tt, #content pre, #content kbd {
    font-family: Inconsolata, monospace;
    font-weight: 400;
    line-height: 1.61803rem; }
  #content code, #content tt, #content kbd {
    line-height: 0; }
  #content .code, #content .terminal {
    padding: 1.61803rem;
    margin-top: 1.61803rem;
    margin-bottom: 1.61803rem;
    margin-left: -1.61803rem;
    margin-right: -1.61803rem;
    background: #E9EBED;
    overflow-y: auto;
    widows: 5;
    orphans: 5; }
    @media print {
      #content .code, #content .terminal {
        padding: 0;
        margin-top: 0;
        margin-bottom: 1.61803rem;
        margin-left: 0;
        margin-right: 0;
        background: inherit;
        color: inherit;
        page-break-before: avoid; } }
    #content .code .comment, #content .terminal .comment {
      color: #7f7f7f; }
      @media print {
        #content .code .comment, #content .terminal .comment {
          color: #333333; } }
    #content .code .keyword, #content .terminal .keyword {
      color: #960115; }
    #content .code .string, #content .terminal .string {
      color: #CF001C; }
    #content .code .name, #content .terminal .name {
      color: #445588; }
  #content .terminal {
    background: #333333;
    color: #E9EBED; }
    @media print {
      #content .terminal {
        color: inherit;
        background: inherit; } }
  #content aside {
    padding-top: calc(1.61803rem - 1px);
    padding-left: 1.61803rem;
    padding-right: 1.61803rem;
    margin-top: 1.61803rem;
    margin-bottom: calc(1.61803rem - 1px);
    margin-left: -1.61803rem;
    margin-right: -1.61803rem;
    border-bottom: 1px dashed #333333;
    border-top: 1px dashed #333333; }
    #content aside.note > :first-child::before {
      content: "Note: ";
      font-weight: bold; }
  #content strong, #content b {
    font-weight: 600; }
  #content ol.parts {
    line-height: 1.61803rem;
    margin-bottom: 1.61803rem; }
  #content ol.parts li {
    list-style: none;
    margin: 0;
    padding: 0; }
    #content ol.parts li.current {
      font-weight: bold; }
  #content .card {
    margin-bottom: 1.09994rem; }
    #content .card .carddate {
      float: right;
      padding-top: 0.80902rem; }
    #content .card .cardtitle {
      line-height: 2.42705rem;
      font-size: 1.5rem;
      padding-top: 0.24271rem; }
    #content .card .cardsummary {
      margin-top: -0.24271rem; }
